<h2>🎬 Mes Favoris</h2>

<div *ngIf="loading">Chargement...</div>

<div *ngIf="!loading && favorites.length === 0">
  Aucun film ajouté aux favoris.
</div>

<ul *ngIf="!loading && favorites.length > 0" class="film-grid">
  <li *ngFor="let fav of favorites">
    <div class="poster">
      <img [src]="fav.filmImage" [alt]="fav.filmTitle" />
    </div>
    <div class="film-info">
      <strong>{{ fav.filmTitle }}</strong>
    </div>
    <button (click)="removeFavorite(fav.id)">Retirer</button>
  </li>
</ul>