<nav class="navbar">
  <div class="nav-content">
    <a class="logo" routerLink="/">Réservation de Films</a>
    <div class="nav-links">
      <a routerLink="/" routerLinkActive="active" *ngIf="isAuthenticated()">Films</a>
      <a routerLink="/favorites" routerLinkActive="active" *ngIf="isAuthenticated()">Mes favoris</a>
      <a routerLink="/reservations" routerLinkActive="active" *ngIf="isAuthenticated()">Mes réservation</a>
      <a routerLink="/login" routerLinkActive="active" *ngIf="!isAuthenticated()">Connexion</a>
      <a routerLink="/register" routerLinkActive="active" *ngIf="!isAuthenticated()">Inscription</a>
      <button (click)="logout()" *ngIf="isAuthenticated()">Déconnexion</button>
    </div>
  </div>
</nav>
